<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.huge.fzugang">
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="Fzu帮"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="label"
        tools:targetApi="n">
        <activity android:name=".CarpoolBlock.CarpoolContentAddActivity"></activity>
        <activity android:name=".CarpoolBlock.CarpoolBasicAddActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="PhotoPicker"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_path" />
        </provider>

        <activity android:name=".UserInfoActivity" />
        <activity android:name=".TradeBlock.AddTradeActivity" />
        <activity android:name=".TradeBlock.TradeDetailActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:icon="@drawable/logo"
            android:label="Fzu帮"
            android:roundIcon="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PerfectionInfoActivity" />
    </application>

</manifest>